body{

	background: black;
}

.load{
	
	width: 150px;
	height: 150px;
	border: 25px solid white;
	border-left-color: #0ac5d4;
	border-radius: 	50%;
	animation-name: loading;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

	@keyframes loading{
		to{
			transform: rotate(360deg);
		}
	}
}